<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngapham.englishlearningkit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        <activity
            android:name="com.ngapham.englishlearningkit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.ngapham.englishlearningkit.NewsActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity 
            android:name="com.ngapham.englishlearningkit.ArticleActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity 
            android:name="com.ngapham.englishlearningkit.DictActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity 
            android:name="com.ngapham.englishlearningkit.SettingActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity 
            android:name="com.ngapham.englishlearningkit.ArticleWebViewActivity"
            android:label="@string/app_name" >
            
        </activity>
        <service android:name=".RssService" />
    </application>
    

</manifest>
